[submodule "batchrender"]
	path = batchrender
	url = git@github.com:NateScarlet/NukeBatchRender.git
[submodule "cryptomatte"]
	path = cryptomatte
	url = https://github.com/Psyop/Cryptomatte.git
[submodule "tabtabtab"]
	path = tabtabtab
	url = git@github.com:NateScarlet/tabtabtab-nuke.git
[submodule "wlf"]
	path = wlf
	url = git@github.com:WuLiFang/Nuke.git
